.login {
    background-color: cornsilk;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 300px;
    margin: 20px auto 20px;
    width: 300px;
    justify-content: center;
  }
  .signup {
    background-color: cornsilk;
    border: 1px solid #42464b;
    border-radius: 6px;
    height: 300px;
    margin: 20px auto 20px;
    width: 300px;
    justify-content: center;
  }
  .form-group {
    
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: brown;
    display: block;
    height: 43px;
    font: 600 14px/1 'Open Sans', sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
  }
  .form-control{
      justify-content: center;
      margin: 10px;
  }
  .btnSignin{
      background-color: darkorange;
  }
  .btnSignup{
      background-color: darkorange;
      margin-top: 15px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rebeccapurple;
    height: 80px;
    
  }
  
  li {
    display:inline-block;
    padding: 15px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 70px;
    text-decoration: none;
  }
  
  li a:hover {
    
    color: black;
    font-size: 140%;
     
  }
.btnSearch{
  background-color: darkorange;
}
.btnSearch:hover{
  cursor: pointer;
}
.Card{
  margin-bottom: 10px;
}
.imgurlogo{
  position: relative;
  right: 180px;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  
}
.imgurlogo:hover{
  color: black;
  font-size: 220%;

}
.buttonUpload{
  background-color: chocolate;
}
.buttonUpload:hover{
  cursor: pointer;
}
.search{
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
.search-bar input{
  width: 300px;
  border-width: 3px;
  border-color: darkorange;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 2px black ;
}
.search-bar button{
  width: 80px;
  border-radius: 8px;
  margin-left: 20px;
  background-color: darkorange;
  font-weight: bold;
  font-style: italic;
  color: rgb(60, 61, 63);
  cursor: pointer;
}
.gallery{
  margin-top: 20px;
  width: 100%;
}
.photos{
  display: inline-block;
}
.photos img{
  width: 200px;
  height: 200px;
  margin: 10px;
}
.photos-container{
  margin-top: 50px
}
.Imgur-photos{
  display: inline-block;
}
.image{
  height: 200px;
  width:200px;
  margin: 10px;
}
.details{
  background-color: orange;

}